*{
    align-items: center;
}
img {
    width: 30em;
    height: 70em;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
}
div {
    height: 20rem;
    width: 10rem;
    background-color: aliceblue;
    align-items: center;
    text-align: center;
    text-anchor: middle;
}
